*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
li,
ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Lexend", sans-serif;
  font-size: 12px;
  background-color: #fff;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 40px;
}