<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Close order</title>
</head>
<body>
<form method="post" action="#">
    {%csrf_token%}
    {%for order in orders%}
        <div style="margin: 16px 0; display: flex; align-items: center;">
            <label style="margin-right: 10px" for="{{order.id}}-{{order.user.first_name}}-box">
                <h4 style="margin: 0;">Customer: {{order.user.first_name}}</h4>
                <h4 style="margin: 0;">Book: {{order.book.name}}</h4>
            </label>
            <div>
                <input type="checkbox" id="{{order.id}}-{{order.user.first_name}}-box" name="{{order.id}}"/>
            </div>
        </div>
    {%endfor%}
    <button type="submit">Close orders</button>
</form>

</body>
</html>