<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="display: flex; justify-content: space-around">
        <div>
        <h1>Count of authors: {{data_abt_authors|length}}</h1>
        {%for item in data_abt_authors%}
            <div>
                <p>
                    {{item.name}}
                    {{item.surname}}
                    {{item.patronymic}}
                </p>
                <ul>
                    {%for book in item.books%}
                    <li>
                        {{book.name}}
                    </li>
                {%endfor%}
                </ul>
            </div>
        {%endfor%}
        </div>
        <div>
            <a href="{% url 'del' %}"><h1>Delete authors</h1></a>
            <a href="{% url 'add' %}"><h1>Create authors</h1></a>
        </div>
    </div>
</body>
</html>